* {
    box-sizing: border-box;
  }

  body{
    margin: 0;
    padding: 0;
    background-image: url("./assets/images/bg1.jpg");
    background-size: cover;
    font-family: 'serif', Cambria, Cochin, Georgia, Times, 'Times New Roman'
    
  }